.ds-makersun-dozen-done-container {
    display: flex;
    border-radius: 100%;
    background-color: #3BE146;
    height: 24px;
    width: 24px;
    justify-content: center;
    align-items: center;
}